<div class="formulario">
  <h1>Solicitud de informaci&oacute;n</h1>
  <form method="post" action="">
<!-- <form name="formulario_solicitud_informacion" id="formulario_solicitud_informacion" action="{sol_inf_action}" method="POST" class="pad">
  <input type="hidden" value="enviar" name="accion"> -->
  <p>Si desea cualquier tipo de información o tiene alguna duda acerca de la informaci&oacute;n ofrecida no dude en contactar con nosotros:</p><br />
  <div class="controls">
    <div class="row">
      <div class="col-md-3">
        <label for="nombre">* Nombre</label>
        <input type="text" name="nombre" id="nombre" class="required text" tabindex="1" title="Introduzca el Nombre" />
      </div>
      <div class="col-md-3">
        <label for="direccion">Direcci&oacute;n</label>
        <input type="text" class="text" name="direccion" id="direccion" tabindex="2" />
      </div>
      <div class="col-md-3">
        <label for="ciudad">Ciudad</label>
        <input type="text" class="text" name="ciudad" id="ciudad" tabindex="3" />
      </div>
      <div class="col-md-3">
        <label for="provincia">Provincia</label>
        <input type="text" class="text" name="provincia" id="provincia" tabindex="4" />
      </div>
      <div class="col-md-3">
        <label for="pais">Pa&iacute;s</label>
        <input type="text" class="text" name="pais" id="pais" tabindex="5" />
      </div>
    </div>
    <div class="row">
      <label for="email">* E-mail</label>
      <input type="text" class="required email text" name="email" id="email" tabindex="6" title="Introduzca el E-mail" />
      <label for="telefono">Tel&eacute;fono</label>
      <input type="text" class="text" name="telefono" id="telefono" tabindex="7"/>
      <label for="fax">Fax</label>
      <input type="text" class="text" name="fax" id="fax" tabindex="8" />
      <label for="comentarios">Comentarios</label>
      <textarea name="comentarios" id="comentarios" style="width:90px" rows="8" tabindex="9"></textarea>
    </div>
    <div class="row">
      <br clear="all"><br />
      <p style="text-align:center">
        <input type="submit" value="Enviar" class="button" tabindex="11" /> &nbsp;
        <input type="reset" name="borrar" class="button" value="Vaciar Formulario" tabindex="12" />
      </p>
      <br />
      <ul class="error"></ul>
    </div>

  </div>

<!--<div style="margin-right:0;">
  <p>
    <label for="txtrandimage">* Validaci&oacute;n</label>
    <img title="Pincha en la imagen si no la lees bien" src="/common/pi/global/php/captcha.php" alt="validation" style="vertical-align:middle;" id="s_img_captcha">
    <input class="required text" type="text" size="6" name="captcha" id="captcha" />
  </p>
  <p class="info_captcha">Escribe los caracteres de la imagen de arriba. No se distingue entre may&uacute;sculas y min&uacute;sculas.</p>
</div> -->



  <p class="aviso_legal">En cumplimiento de la Ley Org&aacute;nica 15/1999, de 13 de diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal, informamos que los datos personales que se solicitan en esta P&aacute;gina Web se incluir&aacute;n en una base de datos informatizada titularidad de la agencia favorita con la finalidad &uacute;nica y exclusiva de poder facilitar a los usuarios los servicios solicitados. Asimismo, el usuario dispone en todo momento de los derechos de informaci&oacute;n, acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n, que podr&aacute; ejercitar mediante correo convencional al domicilio social de la agencia favorita.</p>
  </form>
</div>
